#### Importing Dependencies

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn import metrics

#### Data Collection

In [4]:
big_mart_data = pd.read_csv('C:/Users/USER/Desktop/Datasets/train.csv')
big_mart_data.head()

  Item_Identifier  Item_Weight Item_Fat_Content  ...  Outlet_Location_Type        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30          Low Fat  ...                Tier 1  Supermarket Type1          3735.1380
1           DRC01         5.92          Regular  ...                Tier 3  Supermarket Type2           443.4228
2           FDN15        17.50          Low Fat  ...                Tier 1  Supermarket Type1          2097.2700
3           FDX07        19.20          Regular  ...                Tier 3      Grocery Store           732.3800
4           NCD19         8.93          Low Fat  ...                Tier 3  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [5]:
# Checking the number of rows and columns
big_mart_data.shape

(8523, 12)

In [6]:
# Checking datatypes,missing and info about the big_mart_data 
big_mart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

 ##### Categorical Features:
- Item_Identifier
- Item_Fat_Content
- Item_Type
- Outlet_Identifier
- Outlet_Size
- Outlet_Location_Type
- Out_Type

##### Handling Missing Values
- Using Mean for the 'Item_Weight'
- Using Mode for the 'Outlet_Size'

In [10]:
# mean value of 'Item_weight' 
item_weight_mean = big_mart_data['Item_Weight'].mean()
item_weight_mean

12.857645184135976

In [12]:
# filling the missing values in 'item_Weight' column with the mean
big_mart_data['Item_Weight'] = big_mart_data['Item_Weight'].fillna(item_weight_mean)

In [17]:
# Replacing the missing 'Outlet_Size' with mode
outlet_size_mode = big_mart_data.pivot_table(values='Outlet_Size', columns='Outlet_Type', aggfunc=(lambda x: x.mode()[0]))

In [18]:
print(outlet_size_mode)

Outlet_Type Grocery Store Supermarket Type1 Supermarket Type2 Supermarket Type3
Outlet_Size         Small             Small            Medium            Medium

In [19]:
missing_values = big_mart_data['Outlet_Size'].isnull()

In [20]:
print(missing_values)

0       False
1       False
2       False
3        True
4       False
        ...
8518    False
8519     True
8520    False
8521    False
8522    False
Name: Outlet_Size, Length: 8523, dtype: bool

In [21]:
big_mart_data.loc[missing_values, 'Outlet_Size'] = big_mart_data.loc[missing_values, 'Outlet_Type'].apply(lambda x: outlet_size_mode)

In [22]:
# Check for missing values
big_mart_data.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

#### Data Analysis

In [23]:
big_mart_data.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year  Item_Outlet_Sales
count  8523.000000      8523.000000  8523.000000                8523.000000        8523.000000
mean     12.857645         0.066132   140.992782                1997.831867        2181.288914
std       4.226124         0.051598    62.275067                   8.371760        1706.499616
min       4.555000         0.000000    31.290000                1985.000000          33.290000
25%       9.310000         0.026989    93.826500                1987.000000         834.247400
50%      12.857645         0.053931   143.012800                1999.000000        1794.331000
75%      16.000000         0.094585   185.643700                2004.000000        3101.296400
max      21.350000         0.328391   266.888400                2009.000000       13086.964800